# /
FileHandle.c
FileHandle.o
MANIFEST.bak
MYMETA.json
MYMETA.yml
Makefile
Makefile.old
NYTProf.bs
NYTProf.c
NYTProf.o
blib/
*.tar.gz
*.o
*.c
*.bs
*.out
.*.swp
nytprof-50-errno.out
/t/*.new
/t/*.newp
/t/*.out
/t/nytprof_t.out
/t/nytprof-test51-*.out
/t/nytprof_test30-fork-*.out.*
/t/*_outdir
/t/auto
pm_to_blib
